<div id="main"></div>



<script id="appViewTemplate" type="javascript/underscore">
  <div id="landing">
      <canvas id="canvas" resize></canvas>

    </div>  

</script>

<script id="snowflakeCanvasTemplate" type="javascript/underscore">
</script>
