<div id="main"></div>

<script id="appViewTemplate" type="javascript/underscore">
  <canvas id="canvas" resize></canvas>
  <div class="controls">
    <button id="newNode">Sound Node</button>
    <button id="newBeatNode">Beat Node</button>
    <button id="desaturate">Greyscale</button>
    <button id="invert">Invert</button>
    <button id="strum">Stum On</button>
    <button id="start">Play</button>
    <button id="stop">Stop</button>
  </div>
</script>

<script id="snowflakeCanvasTemplate" type="javascript/underscore">
</script>
