<div id="main"></div>



<script id="appViewTemplate" type="javascript/underscore">
  <canvas id="canvas" resize></canvas>
  <div class="controls">
    <button id="newNode">Add Node</button>
    <button id="strum">Stum On</button>
    <button id="start">Play</button>
    <button id="stop">Stop</button>
  </div>

</script>
<script id="snowflakeCanvasTemplate" type="javascript/underscore">
</script>
