// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
// Canvas

html, body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

#canvas {
  height: 100vh;
  width: 100vw;
  padding: 0;
  display: block;
  margin: 0 auto;
  background: black;
  border: 1px solid #333;
  margin-bottom: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.desaturated {
  -webkit-filter: saturate( 0 );
  -moz-filter: saturate( 0 );
  -ms-filter: saturate( 0 );
  -o-filter: saturate( 0 );
  filter: saturate( 0 ); 
}

.inverted {
  -webkit-filter: invert( 100% );
  -moz-filter: invert( 100% );
  -ms-filter: invert( 100% );
  -o-filter: invert( 100% );
  filter: invert( 100% );  
}

#landing {
  margin: 0 auto;
}

body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: white;
}

h1 {
  position: absolute;
  z-index: 1;
}

.controls {
  position: absolute;
  top: 200px;
  z-index: 2;
}

/* #Clouds Flat Button
==================================================*/
button {
  vertical-align: top;
  width: 100px;
  height: 40px;
  padding: 0;
  font-size: 15px;
  font-family: 'Poiret One', cursive;
  display: block;

  color:#454545;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #ecf0f1;
  border: 0;
  border-bottom: 2px solid #dadedf;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #dadedf;
  box-shadow: inset 0 -2px #dadedf;
}
button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}